
    <div class="music-pad-container">

		<div class="interface-dscrpt">
			<h1 class="title-interface">{{title}}</h1>
			<p class="description">Play, Create.</p>
		</div>

		<div class="interface">
			<div class="row music-pad-row">
				<div class="twelve columns hi-keys">
					<div class="music-pad-key" id="Q-key"><div class="keySound" id="81"></div>*</div>
					<div class="music-pad-key" id="W-key"><div class="keySound" id="87"></div>*</div>
					<div class="music-pad-key" id="E-key"><div class="keySound" id="69"></div>*</div>
					<div class="music-pad-key" id="R-key"><div class="keySound" id="82"></div>*</div>
					<div class="music-pad-key" id="T-key"><div class="keySound" id="84"></div>*</div>
					<div class="music-pad-key" id="Y-key"><div class="keySound" id="89"></div>*</div>
					<div class="music-pad-key" id="U-key"><div class="keySound" id="85"></div>*</div>
					<div class="music-pad-key" id="I-key"><div class="keySound" id="73"></div>*</div>
					<div class="music-pad-key" id="O-key"><div class="keySound" id="79"></div>*</div>
					<div class="music-pad-key" id="P-key"><div class="keySound" id="80"></div>*</div>
				</div>
			</div>

			<div class="row music-pad-row">
				<div class="twelve columns mid-keys">
					<div class="music-pad-key" id="A-key"><div class="keySound" id="65"></div>*</div> 
					<div class="music-pad-key" id="S-key"><div class="keySound" id="83"></div>*</div>
					<div class="music-pad-key" id="D-key"><div class="keySound" id="68"></div>*</div>
					<div class="music-pad-key" id="F-key"><div class="keySound" id="70"></div>*</div>
					<div class="music-pad-key" id="G-key"><div class="keySound" id="71"></div>*</div>
					<div class="music-pad-key" id="H-key"><div class="keySound" id="72"></div>*</div>
					<div class="music-pad-key" id="J-key"><div class="keySound" id="74"></div>*</div>
					<div class="music-pad-key" id="K-key"><div class="keySound" id="75"></div>*</div>
					<div class="music-pad-key" id="L-key"><div class="keySound" id="76"></div>*</div>
				</div>
			</div>

			<div class="row music-pad-row">
				<div class="twelve columns low-keys">
					<div class="music-pad-key" id="Z-key"><div class="keySound" id="90"></div>*</div>
					<div class="music-pad-key" id="X-key"><div class="keySound" id="88"></div>*</div>
					<div class="music-pad-key" id="C-key"><div class="keySound" id="67"></div>*</div>
					<div class="music-pad-key" id="V-key"><div class="keySound" id="86"></div>*</div>
					<div class="music-pad-key" id="B-key"><div class="keySound" id="66"></div>*</div>
					<div class="music-pad-key" id="N-key"><div class="keySound" id="78"></div>*</div>
					<div class="music-pad-key" id="M-key"><div class="keySound" id="77"></div>*</div>
				</div>
			</div>

			<div class="row music-pad-row">
				<div class="twelve columns tone-pad-container" id="tone-selection">
					<a id="tone1" href="#tone1" onclick="StartOrStop('../sounds/main/tones/1.wav')" class="tone-pad-btn">Tone 1</a>
					<a id="tone2" href="#tone2" onclick="StartOrStop('../sounds/main/tones/2.wav')" class="tone-pad-btn">Tone 2</a>
					<a id="tone3" href="#tone3" onclick="StartOrStop('../sounds/main/tones/3.wav')" class="tone-pad-btn">Tone 3</a>
				</div>
			</div>
		</div>
		    
		<audio id="toneAudio" loop></audio>


</div>

		<div class="box">
			<h2 class="box__title">Ivana</h2>
			<button class="cbutton cbutton--effect-ivana">
				<i class="cbutton__icon fa fa-fw fa-play"></i>
				<span class="cbutton__text">Play</span>
			</button>
		</div>


