
    <div class="music-pad-container">

	<form action="" method="post">
        <button type="button" onclick="playIt()">play</button>
        <div id="embed"></div>
    </form>

	<div class="interface-dscrpt">
		<h1 class="title-interface">{{title}}</h1>
		<p class="description">Play, Create.</p>
	</div>

	<div class="interface">
		<div class="row music-pad-row">
			<div class="twelve columns hi-keys">
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
			</div>
		</div>

		<div class="row music-pad-row">
			<div class="twelve columns mid-keys">
				<div class="music-pad-key"><div id="65"></div>*</div> 
				<div class="music-pad-key"><div id="66"></div>*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
			</div>
		</div>

		<div class="row music-pad-row">
			<div class="twelve columns low-keys">
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
				<div class="music-pad-key">*</div>
			</div>
		</div>

		<div class="row music-pad-row">
			<div class="twelve columns tone-pad-container">
				<div class="tone-pad-btn">Tone 1</div>
				<div class="tone-pad-btn">Tone 2</div>
				<div class="tone-pad-btn">Tone 3</div>
			</div>
		</div>
	</div>

</div>


