<div class="mood-dscrpt">
  <h3>How do you feel?</h3>
</div>


<div class="mood-btn-container">
  <div class="interface">
  	<div class="row">
  		<div class="twelve columns hi-keys">
        <a id="happy" href="#Happy" class="mood-btn">Happy</a>
        <a id="bored" href="#Bored" class="mood-btn">Bored</a>
        <a id="sad" href="#Sad" class="mood-btn">Sad</a>
        <a id="angry" href="#Angry" class="mood-btn">Angry</a>
  		</div>
  	</div>
  </div>
</div>


<div class="submit-btn-container">
  <a href="/interface"><button class="submit-btn" type="button" name="start">I'm ready</button></a>
</div>

<div id="gradient"></div>
