/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


 /* DEFAULTS */


 main {
   text-align: center;
 }


body {
	padding: 0px;
	margin: 0px;
	font-family: 'Karla', Helvetica, sans-serif;
	font-size: 1.5em;
}

button {
	margin: 0;
	text-transform: none;
	font-family: 'Karla', Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: black;
	border: #ef005b solid 1px;
	border-radius: 3px;
}

a {
	text-decoration: none;
	color: black;
}

/* Main Interface Layout */

.interface-dscrpt, .mood-dscrpt {
	width: 100%;
	position: absolute;
	top: 10%;
	text-align: center;
}

.mood-dscrpt {
	top: 17%;
	color: rgba(255, 255, 255, 0.3);
}

#logo {
	margin: 0 auto;
	padding: 0 0 15px 0;
	width: 220px;
	opacity: .8;
}

.music-pad-container, .mood-btn-container {
	width: 100%;
	height: 100%;
  position: absolute;
	text-align: center;
}

.music-pad-container:before, .mood-btn-container:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.interface {
	width: 90%;
	display: inline-block;
	vertical-align: middle;
}

.music-pad-row {
	text-align: center;
}

.keySound {
	height: 0;
	visibility: hidden;
}

.music-pad-key {
	display: inline-block;
	margin: 20px 3%;
}


/*  Main Interface Design (Type, Buttons)  */

.title-interface {
	color: #efefef;
}

.description {
	font-family: 'Inconsolata', monospace;
}

.tone-pad-btn, .mood-btn {
	color: black;
	display: inline-block;
	margin: 20px 3%;
	border: #ef005b solid 1px;
	border-radius: 3px;
	padding: 9px 20px;
}

.tone-pad-btn:hover, .mood-btn:hover, .submit-btn:hover {
	color: #580022;
	border-radius: 3px;
	border: #ef005b solid 1px;
	background-color: #ef005b;
}

.tone-pad-btn:active, .tone-pad-btn:focus, .mood-btn:active, .mood-btn:focus, .submit-btn:active, .submit-btn:focus {
	outline: none;
  color: rgba(0,0,0,0.7);
  border: #2A7221 solid 1px;
	border-radius: 3px;
	background-color: #9AFD00;
}

.tone-container {
	position: absolute;
	width: 100%;
	bottom: 10%;
}

.mood-btn-container {
	position: absolute;
	width: 100%;
}

.submit-btn-container {
	position: absolute;
	width: 100%;
	bottom: 20%;
}

.submit-btn {
	letter-spacing: normal;
	display: table;
  margin: 0 auto;
}

/*  Main Interface Animations  */

.animation {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
		z-index: -1;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#gradient {
	z-index: -100;
	width: 100%;
  height: 100%;
  position: fixed;
  background: #efefef;
  background: -webkit-linear-gradient(right top, rgba(255, 226, 209, 100), rgba(255, 66, 66, .50));
  background: -o-linear-gradient(right top, rgba(255, 226, 209, 100), rgba(255, 66, 66, .50));
  background: -moz-linear-gradient(right top, rgba(255, 226, 209, 100), rgba(255, 66, 66, .50));
  background: linear-gradient(to right top, rgba(255, 226, 209, 100), rgba(255, 66, 66, .50));
}
