/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


 /* DEFAULTS */


body {
	padding: 0px;
	margin: 0px;
	font: 14px Helvetica, Arial, sans-serif;
	font-family: 'Karla', Helvetica, sans-serif;
	font-size: 1.5em;
}


a {
	text-decoration: none;
	color: black;
}

/* Main Interface Layout */

.interface-dscrpt {
	text-align: center;
	margin-bottom: 10%;
}

.music-pad-container {
	width: 90%;
	height: 90%;
	padding: 5%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}

.music-pad-row {
	text-align: center;
}

.keySound {
	height: 0;
	visibility: hidden;
}

.music-pad-key {
	display: inline-block;
	margin: 20px 3%;
}

.tone-pad-container {
	padding-top: 10%;
}


/*  Main Interface Design (Type, Buttons)  */

.title-interface {
	color: #ef005b;
}

.description {
	font-family: 'Inconsolata', monospace;
}

.tone-pad-btn {
	color: black;
	display: inline-block;
	margin: 20px 3%;
	border: #ef005b solid 1px;
	border-radius: 3px;
	padding: 9px 20px;
}

.tone-pad-btn:hover {
	color: #580022;
	border-radius: 3px;
	background-color: #ef005b;
}

.tone-pad-btn:active, .tone-pad-btn:focus {
	outline: none;
    color: rgba(0,0,0,0.7);
    border: #2A7221 solid 1px;
	border-radius: 3px;
	background-color: #9AFD00;
}

/*  Main Interface Animations  */

.animation {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #59C9A5;
    position: relative;
    overflow: hidden;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
